# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=YHjK/1lG0AL119UrgsRsrA==,ChExiv0/NTMt0lTR3VVarQ==,a9No9K11L3RBNrmt8+VhLQ==,+NNEXMR966pwQhu74mi5ZQ==
API_TOKEN_SALT=QHxrH0mCCs9lA9yQ5zw7BA==
ADMIN_JWT_SECRET=L4LT0bJGvDGXqfvhbmCnaw==
TRANSFER_TOKEN_SALT=xufBx7ytH0uU204ThDhXqg==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=strapi
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=1720
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=K5E+/40zEWZBZboUW5okzw==
